{% extends 'base.html' %}

{% macro safe_cvss_attr(obj, attr) %}
{% set value = obj|safe_getattr(attr, '') %}
{% if value and value != 'N/A' and value != '' %}{{ value.capitalize() }}{% else %}N/A{% endif %}
{% endmacro %}

{% block header %}
  <h2><b>{% block title %}{{ vex.cve }} - {{ vex.title }}{% endblock %}</b></h2>
{% endblock %}

{% block content %}
{% if vex.exploits|length > 0 %}
{% for ex in vex.exploits %}
<div class="alert alert-danger">
  <span class="pficon pficon-info"></span>
  {% if ex['source'] %}
  <strong><i class="bi bi-radioactive"></i> <a href="{{ ex['url'] }}{% if ex['source'] == 'CISA' %}?search_api_fulltext={{ vex.cve }}&field_date_added_wrapper=all&field_cve=&sort_by=field_date_added&items_per_page=20&url={% endif %}">{{ ex['source'] }}</a> reports known exploitation as of {{ ex['date'] }}</strong>
  {% else %}
  <strong><i class="bi bi-radioactive"></i> Known exploitation reported as of {{ ex['date'] }} {{ ex['details'] }}</a></strong>
  {% endif %}
</div>
{% endfor %}
{% endif %}

{% if kev %}
<div class="alert alert-danger">
  <span class="pficon pficon-info"></span>
  <strong><a href="https://vulncheck.com/cve/{{ vex.cve }}"><img src="/static/vulncheck.png"></a> reports known exploitation as of {{ kev['date_added'] }} </strong>
</div>
{% endif %}

{% if vex.global_impact == "Low" %}
{% set sevcolor="info" %}
{% set popover="This rating is given to all other issues that may have a security impact. These are the types of vulnerabilities that are believed to require unlikely circumstances to be able to be exploited, or where a successful exploit would give minimal consequences. This includes flaws that are present in a program’s source code but to which no current or theoretically possible, but unproven, exploitation vectors exist or were found during the technical analysis of the flaw." %}
{% elif vex.global_impact == "Moderate" %}
{% set sevcolor="primary" %}
{% set popover="This rating is given to flaws that may be more difficult to exploit but could still lead to some compromise of the confidentiality, integrity or availability of resources under certain circumstances. It is also given to flaws that could be exploited to cause denial of service-like conditions on AI systems via an inference end point, or allow attackers to steal other users’ data from the AI system without authorization. These are the types of vulnerabilities that could have had a Critical or Important impact but are less easily exploited based on a technical evaluation of the flaw and/or affect unlikely configurations." %}
{% elif vex.global_impact == "Important" %}
{% set sevcolor="warning" %}
{% set popover="This rating is given to flaws that can easily compromise the confidentiality, integrity or availability of resources. These are the types of vulnerabilities that allow local or authenticated users to gain additional privileges, allow unauthenticated remote users to view resources that should otherwise be protected by authentication or other controls, allow authenticated remote users to execute arbitrary code, allow remote users to cause a denial of service, or can cause system compromise via inference end points on AI systems." %}
{% elif vex.global_impact == "Critical" %}
{% set sevcolor="danger" %}
{% set popover="This rating is given to flaws that could be easily exploited by a remote unauthenticated attacker and lead to system compromise (arbitrary code execution) without requiring user interaction, or easily cause system compromise via inference end points on AI systems. Flaws that require authentication, local or physical access to a system, or an unlikely configuration are not classified as Critical impact. These are the types of vulnerabilities that can be exploited by worms." %}
{% else %}
{% set sevcolor="light" %}
{% set popover="Red Hat has determined this issue has no security impact." %}
{% endif %}

<div class="container">
  <div class="row justify-content-between g-3">

<div class="col-md-4">
<div class="card text-bg-{{ sevcolor }} mb-3 h-100">
  <div class="row g-0">
    <div class="col-md-4">
      <br />
      <img src="https://access.redhat.com/webassets/avalon/j/lib/rh-iconfont-svgs/rh-icon-shield.svg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{% if vex.global_impact %}<b>{{ vex.global_impact }}</b>{% else %}No{% endif %} Impact</h5>
        <p class="card-text"><button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" data-bs-title="{% if vex.global_impact %}{{ vex.global_impact }}{% else %}No{% endif %} Impact" data-bs-content="{{ popover }}"><i class="bi bi-info-circle"></i> What does this mean?</button></p>
        <p class="card-text"><small class="text-white">Public on {{ vex.release_date }}<br />Updated: {{ vex.updated }}</small></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="card text-bg-light mb-3 h-100">
  <div class="row g-0">
    <div class="col-md-3" style="padding-left: 1rem;">
      <br /><br />
      <h1 style="white-space: nowrap;">{% if vex.global_cvss %}<b>{{ vex.global_cvss|safe_getattr('baseScore') }}</b>{% else %}N/A{% endif %}</h1>
    </div>
    <div class="col-md-9" style="padding-left: 0.75rem;">
      <div class="card-body">
        <h5 class="card-title">CVSS</h5>
        {% if has_cvss %}
        <p class="card-text"><a href="#cvss">CVSS v{{ cvssVersion }} Score Breakdown</a></p>
        {% else %}
        <p class="card-text">CVSS Score Breakdown</p>
        {% endif %}
        <p class="card-text"><small class="text-body-secondary">CVSS score assigned by Red Hat</small></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-md-4">
    {% if epss['cve'] %}
<div class="card text-bg-light mb-3 h-100">
  <div class="row g-0">
    <div class="col-md-5" style="padding-left: 1rem;">
      <br /><br />
      <h2 style="white-space: nowrap;">{{ epss['percent'] }}%</h2>
    </div>
    <div class="col-md-7" style="padding-left: 0.75rem;">
      <div class="card-body">
        <h5 class="card-title">EPSS</h5>
        <p class="card-text">EPSS Score: {{ epss['score'] }}</p>
        <p class="card-text"><small class="text-body-secondary">Rating provided by FIRST<br />Last updated: {{ epss['date'] }}</small></p>
      </div>
    </div>
  </div>
</div>
    {% else %}
<div class="card text-bg-light mb-3 h-100">
  <div class="row g-0">
    <div class="col-md-5" style="padding-left: 1rem;">
      <br /><br />
      <h2 style="white-space: nowrap;">N/A</h2>
    </div>
    <div class="col-md-7" style="padding-left: 0.75rem;">
      <div class="card-body">
        <h5 class="card-title">EPSS</h5>
        <p class="card-text">EPSS Score: N/A</p>
        <p class="card-text"><small class="text-body-secondary">CVE not found in EPSS dataset</small></p>
      </div>
    </div>
  </div>
</div>
    {% endif %}
</div>
  </div>
</div>


<h2>Description</h2>
<p>{% autoescape false %}{{ description }}{% endautoescape %}</p>

{% if vex.cwe_id %}<p><a href="http://cwe.mitre.org/data/definitions/{{ vex.cwe_sid }}.html" class="btn btn-secondary"> <i class="bi bi-question-diamond-fill"></i> {{vex.cwe_id}}: {{ vex.cwe_name }}{% endif %}</a></p>

{% if statement %}
<h2 id="statement">Statement</h2>
<p>{% autoescape false %}{{ statement }}{% endautoescape %}</p>
{% endif %}

{% if mitigation %}
<h2 id="mitigations">Mitigations</h2>

<p>{% autoescape false %}{{ mitigation }}{% endautoescape %}</p>
{% endif %}

{% if has_cvss %}
<h2 id="cvss">CVSS {{ cvssVersion }} Score</h2>
<div class="alert alert-warning">
  <span class="pficon pficon-info"></span>
  <strong>Important note.</strong> CVSS scores for open source components depend on vendor-specific factors (e.g. version or build chain). Therefore, Red Hat's score and impact rating can be different from NVD and other vendors. Red Hat remains the authoritative <a href="https://www.cve.org/ProgramOrganization/CNAs">CVE Naming Authority (CNA)</a> source for its products and services (see <a href="https://access.redhat.com/security/updates/classification#cvss">Red Hat classifications</a>).
</div>
{% if vex.global_cvss %}
<table class="table table-bordered table-striped table-hover cvss-table">
  <thead>
  <tr class="table-success"><th style="width: 20%;"> </th><th style="width: 26.67%;">Red Hat</th><th style="width: 26.67%;">National Vulnerability Database</th><th style="width: 26.67%;">CVE.org ADP</th></tr>
  </thead>
  <tbody>
  <tr><td><strong>Base Score</strong></td><td>{{ vex.global_cvss|safe_getattr('baseScore') }}</td><td>{{ nvd.baseScore }}</td><td>{{ cve.baseScore }}</td></tr>
  <tr><td><strong>Base Vector</strong></td><td>{{ vex.global_cvss|safe_getattr('vectorString') }}</td><td>{{ nvd.vectorString }}</td><td>{{ cve.vectorString }}</td></tr>
  {% if (cvssVersion == '3.0' or cvssVersion == '3.1') %}
  <tr><td><strong>Attack Vector</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'attackVector') }}</td><td>{{ nvd.attackVector }}</td><td>{{ cve.attackVector }}</td></tr>
  <tr><td><strong>Attack Complexity</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'attackComplexity') }}</td><td>{{ nvd.attackComplexity }}</td><td>{{ cve.attackComplexity }}</td></tr>
  <tr><td><strong>Privileges Required</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'privilegesRequired') }}</td><td>{{ nvd.privilegesRequired }}</td><td>{{ cve.privilegesRequired }}</td></tr>
  <tr><td><strong>User Interaction</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'userInteraction') }}</td><td>{{ nvd.userInteraction }}</td><td>{{ cve.userInteraction }}</td></tr>
  <tr><td><strong>Scope</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'scope') }}</td><td>{{ nvd.scope }}</td><td>{{ cve.scope }}</td></tr>
  {% elif cvssVersion == '2.0' %}
  <tr><td><strong>Access Vector</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'accessVector') }}</td><td>{{ nvd.accessVector }}</td><td>{{ cve.accessVector }}</td></tr>
  <tr><td><strong>Access Complexity</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'accessComplexity') }}</td><td>{{ nvd.accessComplexity }}</td><td>{{ cve.accessComplexity }}</td></tr>
  <tr><td><strong>Authentication</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'authentication') }}</td><td>{{ nvd.authentication }}</td><td>{{ cve.authentication }}</td></tr>
  {% endif %}
  <tr><td><strong>Confidentiality Impact</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'confidentialityImpact') }}</td><td>{{ nvd.confidentialityImpact }}</td><td>{{ cve.confidentialityImpact }}</td></tr>
  <tr><td><strong>Integrity Impact</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'integrityImpact') }}</td><td>{{ nvd.integrityImpact }}</td><td>{{ cve.integrityImpact }}</td></tr>
  <tr><td><strong>Availability Impact</strong></td><td>{{ safe_cvss_attr(vex.global_cvss, 'availabilityImpact') }}</td><td>{{ nvd.availabilityImpact }}</td><td>{{ cve.availabilityImpact }}</td></tr>
  </tbody>
</table>
{% else %}
<table class="table table-bordered table-striped table-hover cvss-table">
  <thead>
  <tr class="table-success"><th style="width: 20%;"> </th><th style="width: 26.67%;">Red Hat</th><th style="width: 26.67%;">National Vulnerability Database</th><th style="width: 26.67%;">CVE.org ADP</th></tr>
  </thead>
  <tbody>
  <tr><td><strong>Base Score</strong></td><td>N/A</td><td>{{ nvd.baseScore }}</td><td>{{ cve.baseScore }}</td></tr>
  <tr><td><strong>Base Vector</strong></td><td>N/A</td><td>{{ nvd.vectorString }}</td><td>{{ cve.vectorString }}</td></tr>
  {% if (cvssVersion == '3.0' or cvssVersion == '3.1') %}
  <tr><td><strong>Attack Vector</strong></td><td>N/A</td><td>{{ nvd.attackVector }}</td><td>{{ cve.attackVector }}</td></tr>
  <tr><td><strong>Attack Complexity</strong></td><td>N/A</td><td>{{ nvd.attackComplexity }}</td><td>{{ cve.attackComplexity }}</td></tr>
  <tr><td><strong>Privileges Required</strong></td><td>N/A</td><td>{{ nvd.privilegesRequired }}</td><td>{{ cve.privilegesRequired }}</td></tr>
  <tr><td><strong>User Interaction</strong></td><td>N/A</td><td>{{ nvd.userInteraction }}</td><td>{{ cve.userInteraction }}</td></tr>
  <tr><td><strong>Scope</strong></td><td>N/A</td><td>{{ nvd.scope }}</td><td>{{ cve.scope }}</td></tr>
  {% elif cvssVersion == '2.0' %}
  <tr><td><strong>Access Vector</strong></td><td>N/A</td><td>{{ nvd.accessVector }}</td><td>{{ cve.accessVector }}</td></tr>
  <tr><td><strong>Access Complexity</strong></td><td>N/A</td><td>{{ nvd.accessComplexity }}</td><td>{{ cve.accessComplexity }}</td></tr>
  <tr><td><strong>Authentication</strong></td><td>N/A</td><td>{{ nvd.authentication }}</td><td>{{ cve.authentication }}</td></tr>
  {% endif %}
  <tr><td><strong>Confidentiality Impact</strong></td><td>N/A</td><td>{{ nvd.confidentialityImpact }}</td><td>{{ cve.confidentialityImpact }}</td></tr>
  <tr><td><strong>Integrity Impact</strong></td><td>N/A</td><td>{{ nvd.integrityImpact }}</td><td>{{ cve.integrityImpact }}</td></tr>
  <tr><td><strong>Availability Impact</strong></td><td>N/A</td><td>{{ nvd.availabilityImpact }}</td><td>{{ cve.availabilityImpact }}</td></tr>
  </tbody>
</table>
{% endif %}
{% endif %}

{% if fixes %}
<h2 id="fixed">Affected Packages and Issued Red Hat Security Errata</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr class="table-primary"><th>Product / Service</th><th>Components</th><th>Errata</th><th>Release Date</th><th>DTF</th></tr>
  </thead>
  <tbody>
{% for x in fixes %}
  <tr>
    <td>{{ x.product }}</td>
    <td><ul class="component-list">{% for c in x.components %}<li>{{ c }}</li>{% endfor %}</ul></td>
    <td><a href="https://access.redhat.com/errata/{{ x.id }}">{{ x.id }}</a></td>
    <td>{{ x.date }}</td>
    <td>{{ fixdeltas[x.id] }}d</td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if not_affected %}
<h2 id="unaffected">Unaffected Packages</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr class="table-primary"><th>Product / Service</th><th>Components</th></tr>
  </thead>
  <tbody>
{% for x in not_affected %}
  <tr><td>{{ x.product }}</td><td><ul class="source-package-list">{% for c in x.components %}<li>{{ c }}</li>{% endfor %}</ul></td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if wontfix %}
<h2 id="wontfix">Affected packages that will not be fixed</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr class="table-primary"><th>Product / Service</th><th>Source package</th><th>Reason</th></tr>
  </thead>
  <tbody>
{% for x in wontfix %}
  <tr><td>{{ x.product }}</td><td><span class="source-package">📄 {{ x.component }}</span></td><td>{% if x.reason == 'Out of support scope' %}<a href="https://access.redhat.com/support/policy/updates/errata/">{{ x.reason }}</a>{% else %}{{ x.reason }}{% endif %}</td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if affected %}
<h2 id="affected">Affected packages without fixes</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr class="table-primary"><th>Product / Service</th><th>Source package</th></tr>
  </thead>
  <tbody>
{% for x in affected %}
  <tr><td>{{ x.product }}</td><td><ul class="source-package-list">{% for c in x.components %}<li>{{ c }}</li>{% endfor %}</ul></td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>External References</h4>
      <ul>
        {% for url in vex.references %}<li><small><a href="{{ url }}">{{ url }}</a></small></li>{% endfor %}
      </ul>
    </div>
  </div>
</div>

<h2 id="cve-faq">Frequently Asked Questions</h2>
<div class="accordion accordion-flush" id="accordion-cvefaq">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Why is Red Hat's CVSS v3 score or Impact different from other vendors?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
         For open source software shipped by multiple vendors, the CVSS base scores may vary for each vendor's version depending on the version they ship, how they ship it, the platform, and even how the software is compiled.  This makes scoring of vulnerabilities difficult for third-party vulnerability databases such as NVD that only provide a single CVSS base score for each vulnerability.  Red Hat scores reflect how a vulnerability affects our products specifically.
        <br /><br />
        For more information, see <a href="https://access.redhat.com/solutions/762393">https://access.redhat.com/solutions/762393</a>.
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What is EPSS?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
         EPSS is the Exploit Prediction Scoring System and is a mechanism to determine the likelihood or probability of exploitation of a vulnerability in the wild.  The EPSS model produces a score between 0 and 1 (0 and 100%).  The higher the score, the greater the probability that a vulnerability will be exploited.
        <br /><br />
        For more information, see <a href="https://www.first.org/epss/">https://www.first.org/epss/</a>.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        My product is listed as "Under investigation" or "Affected", when will Red Hat release a fix for this vulnerability?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        <ul>
          <li> "Under investigation" doesn't necessarily mean that the product is affected by this vulnerability.  It only means that our Analysis Team is still working on determining whether the product is affected and how it is affected.</li>
          <li> "Affected" means that our Analysis Team has determined that this product is affected by this vulnerability and might release a fix to address this in the near future.</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        What can I do if my product is listed as "Will not fix"?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        A "will not fix" status means that a fix for an affected product version is not planned or not possible due to complexity, which may create additional risk.<br /><br />
        Available options depend mostly on the <a href="https://access.redhat.com/security/updates/classification/">Impact</a> of the vulnerability and the current <a href="https://access.redhat.com/product-life-cycles/update_policies">Life Cycle</a> phase of your product.  Overall, you have the following options:<br />
        <ul>
          <li> Upgrade to a supported product version that includes a fix for this vulnerability (recommended).</li>
          <li> Apply a mitigation (if one exists).</li>
          <li> Open a <a href="https://access.redhat.com/support/cases/#/new">support case</a> to request a prioritization of releasing a fix for this vulnerability.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        What can I do if my product is listed as "Fix deferred"?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        A deferred status means that a fix for an affected product version is not guaranteed due to higher-priority development work.<br /><br />
        Available options depend mostly on the <a href="https://access.redhat.com/security/updates/classification/">Impact</a> of the vulnerability and the current <a href="https://access.redhat.com/product-life-cycles/update_policies">Life Cycle</a> phase of your product.  Overall, you have the following options:<br />
        <ul>
          <li> Apply a mitigation (if one exists).</li>
          <li> Open a <a href="https://access.redhat.com/support/cases/#/new">support case</a> to request a prioritization of releasing a fix for this vulnerability.</li>
          <li> Red Hat Engineering focuses on addressing high-priority issues based on their complexity or limited lifecycle support.  Therefore, lower-priority issues will not receive immediate fixes.</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        What is a mitigation?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        A mitigation is an action that can be taken to reduce the impact of a security vulnerability, without deploying any fixes.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        I have a Red Hat product but it is not in the above list, is it affected?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        The listed products were found to include one or more of the components that this vulnerability affects.  These products underwent a thorough evaluation to determine their affectedness by this vulnerability.  Note that layered products (such as container-based offerings) that consume affected components from any of the products listed in this table may be affected and are not represented.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Why is my security scanner reporting my product is vulnerable to this vulnerability even though my product version is fixed or not affected?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        In order to maintain code stability and compatibility, Red Hat usually does not rebase packages to entirely new versions.  Instead, we <a href="https://access.redhat.com/security/updates/backporting">backport</a> fixes and new features to an older version of the package we distribute.  This can result in some security scanners that only consider the package version to report the package as vulnerable.  To avoid this, we suggest that you use an approved vulnerability scanner from our <a href="https://connect.redhat.com/en/partner-with-us/red-hat-vulnerability-scanner-certification">Red Hat Vulnerability Scanner Certification</a> program.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        My product is listed as "Out of Support Scope". What does this mean?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordion-cvefaq">
      <div class="accordion-body">
        When a product is listed as "Out of Support Scope", it means a vulnerability with the impact level assigned to this CVE is no longer covered by its current <a href="https://access.redhat.com/product-life-cycles/update_policies">support lifecycle phase</a>.  The product has been identified to contain the impacted component, but analysis to determine whether it is affected or not by this vulnerability was not performed.  The product should be assumed to be affected.  Customers are advised to apply any mitigation options documented on this page, consider removing or disabling the impacted component, or upgrade to a supported version of the product that has an update available.
      </div>
    </div>
  </div>

  <hr />
<p><b>Not sure what something means?</b> Check out our <a href="https://access.redhat.com/security/glossary">Security Glossary</a>.</p>

<p class="small">This page is generated automatically and has not been checked for errors or omissions.<br />
For clarification or corrections please contact <a href="https://access.redhat.com/security/team/contact/">Red Hat Product Security</a>.</p>

<p class="small">Last Modified: {{ vex.updated }}<br />
  <a href="https://security.access.redhat.com/data/csaf/v2/vex/{{ vex.cve[4:8] }}/{{ vex.cve.lower() }}.json">Original VEX document</a> {{ vex.distribution }}</p>
{% endblock %}