{% extends 'base.html' %}

{% block header %}
  <h1><b>{% block title %}{{ vex.cve }}{% endblock %}</b></h1>
{% endblock %}

{% block content %}
{% if vex.exploits|length > 0 %}
{% for ex in vex.exploits %}
<div class="alert alert-danger">
  <span class="pficon pficon-info"></span>
  {% if ex['source'] %}
  <strong>Known exploit reported {{ ex['date'] }} by <a href="{{ ex['url'] }}{% if ex['source'] == 'CISA' %}?search_api_fulltext={{ vex.cve }}&field_date_added_wrapper=all&field_cve=&sort_by=field_date_added&items_per_page=20&url={% endif %}">{{ ex['source'] }}</a></strong>
  {% else %}
  <strong>Known exploit reported {{ ex['date'] }} {{ ex['details'] }}</a></strong>
  {% endif %}
</div>
{% endfor %}
{% endif %}

<p>Public on {{ vex.release_date }}<br />
Updated: {{ vex.updated }}</p>

<h2>{% if vex.global_impact %}<b>{{ vex.global_impact }}</b>{% else %}No{% endif %} Impact <span style="font-size:0.5em">| <a href="https://access.redhat.com/security/updates/classification/">What does this mean?</a></span></h2>

<h2>{% if vex.global_cvss %}<b>{{ vex.global_cvss['baseScore'] }}</b>{% else %}N/A{% endif %} <span style="font-size:0.7em">| <a href="#cvss-breakdown">CVSS v3 Score Breakdown</a></span></h2>

<table class="table">
  <tr style="vertical-align:top">
    <td>
      <h2>Description</h2>
      <p>{% autoescape false %}{{ vex.notes['description']['Vulnerability description']|markdown }}{% endautoescape %}</p>

      <h2>Additional Information</h2>
      <ul>
{% if vex.bz_id %}<li> <a href="https://bugzilla.redhat.com/show_bug.cgi?id={{ vex.bz_id }}">Bugzilla {{ vex.bz_id }}</a>: {{ vex.summary }}</li>{% endif %}
  {%if vex.cwe_id %}<li> <a href="http://cwe.mitre.org/data/definitions/{{ vex.cwe }}.html">{{ vex.cwe_id }}</a>: {{ vex.cwe_name }}</li>{% endif %}
  <li> <a href="#cve-faq">FAQ:</a> Frequently asked questions about {{ vex.cve }}</li>
      </ul>
    </td>
    <td>
    <h3>External References</h3>
      <ul>
        {% for url in vex.references %}<li><a href="{{ url }}">{{ url }}</a></li>{% endfor %}
      </ul>
    </td>
  </tr>
</table>

{% if vex.statement %}
<h2 id="statement">Statement</h2>
<p>{% autoescape false %}{{ x.statement|markdown }}{% endautoescape %}</p>
{% endif %}

{% if packages.mitigation %}
<h2 id="mitigations">Mitigations</h2>

{% for x in packages.mitigation %}<p>{% autoescape false %}{{ x.details|markdown }}{% endautoescape %}</p>{% endfor %}
{% endif %}

{% if vex.global_cvss %}
<h2 id="cvss">CVSS {{ vex.cvss_type }} Score</h2>
<div class="alert alert-warning">
  <span class="pficon pficon-info"></span>
  <strong>Important note.</strong> CVSS scores for open source components depend on vendor-specific factors (e.g. version or build chain). Therefore, Red Hat's score and impact rating can be different from NVD and other vendors. Red Hat remains the authoritative <a href="https://www.cve.org/ProgramOrganization/CNAs">CVE Naming Authority (CNA)</a> source for its products and services (see <a href="https://access.redhat.com/security/updates/classification#cvss">Red Hat classifications</a>).
</div>
<table class="table table-bordered table-hover">
  <thead>
  <tr><th> </th><th>Red Hat</th><th>National Vulnerability Database</th></tr>
  </thead>
  <tbody>
  <tr><td>Base Score</td><td>{{ vex.global_cvss['baseScore'] }}</td><td>{{ nvd.baseScore }}</td></tr>
  <tr><td>Base Vector</td><td>{{ vex.global_cvss['vectorString'] }}</td><td>{{ nvd.vectorString }}</td></tr>
  {% if vex.cvss_type == 'v3' %}
  {% if 'attackVector' in vex.global_cvss %}
  <tr><td>Attack Vector</td><td>{{ vex.global_cvss['attackVector'].capitalize() }}</td><td>{{ nvd.attackVector }}</td></tr>
  <tr><td>Attack Complexity</td><td>{{ vex.global_cvss['attackComplexity'].capitalize() }}</td><td>{{ nvd.attackComplexity }}</td></tr>
  <tr><td>Privileges Required</td><td>{{ vex.global_cvss['privilegesRequired'].capitalize() }}</td><td>{{ nvd.privilegesRequired }}</td></tr>
  <tr><td>User Interaction</td><td>{{ vex.global_cvss['userInteraction'].capitalize() }}</td><td>{{ nvd.userInteraction }}</td></tr>
  <tr><td>Scope</td><td>{{ vex.global_cvss['scope'].capitalize() }}</td><td>{{ nvd.scope }}</td></tr>
  {% endif %}
  {% elif vex.cvss_type == 'v2' %}
  {% if 'accessVector' in vex.global_cvss %}
  <tr><td>Access Vector</td><td>{{ vex.global_cvss['accessVector'].capitalize() }}</td><td>{{ nvd.accessVector }}</td></tr>
  <tr><td>Access Complexity</td><td>{{ vex.global_cvss['accessComplexity'].capitalize() }}</td><td>{{ nvd.accessComplexity }}</td></tr>
  <tr><td>Authentication</td><td>{{ vex.global_cvss['authentication'].capitalize() }}</td><td>{{ nvd.authentication }}</td></tr>
  {% endif %}
  {% endif %}
  {% if 'confidentialityImpact' in vex.global_cvss %}
  <tr><td>Confidentiality Impact</td><td>{{ vex.global_cvss['confidentialityImpact'].capitalize() }}</td><td>{{ nvd.confidentialityImpact }}</td></tr>
  <tr><td>Integrity Impact</td><td>{{ vex.global_cvss['integrityImpact'].capitalize() }}</td><td>{{ nvd.integrityImpact }}</td></tr>
  <tr><td>Availability Impact</td><td>{{ vex.global_cvss['availabilityImpact'].capitalize() }}</td><td>{{ nvd.availabilityImpact }}</td></tr>
  {% endif %}
  </tbody>
</table>
{% else %}
<h2 id="cvss">CVSS Score</h2>
<div class="alert alert-warning">
  <span class="pficon pficon-info"></span>
  <strong>CVSS metrics unavailable</strong>
</div>
{% endif %}

<h2 id="affected">Affected Packages and Issued Red Hat Security Errata</h2>
<table class="table table-bordered table-hover">
  <thead>
  <tr><th>Product / Service</th><th>Components</th><th>Errata</th><th>Release Date</th></tr>
  </thead>
  <tbody>
{% for x in packages.fixes %}
  <tr><td>{{ x.product }}</td><td><ul>{% for c in x.components %}<li>{{ c }}</li>{% endfor %}</ul></td><td><a href="https://access.redhat.com/errata/{{ x.id }}">{{ x.id }}</a></td><td>NOT YET</td></tr>
{% endfor %}
  </tbody>
</table>

{% if packages.not_affected %}
<h2 id="unaffected">Unaffected Packages</h2>
<table class="table table-bordered table-hover">
  <thead>
  <tr><th>Product / Service</th><th>Components</th></tr>
  </thead>
  <tbody>
{% for x in packages.not_affected %}
  <tr><td>{{ x.product }}</td><td>{{ ', '.join(x.components) }}</td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if packages.wontfix %}
<h2 id="wontfix">Affected packages without fixes</h2>
<table class="table table-bordered table-hover">
  <thead>
  <tr><th>Product / Service</th><th>Source package</th><th>Reason</th></tr>
  </thead>
  <tbody>
{% for x in packages.wontfix %}
  <tr><td>{{ x.product }}</td><td>{{ x.component }}</td><td>{% if x.reason == 'Out of support scope' %}<a href="https://access.redhat.com/support/policy/updates/errata/">{{ x.reason }}</a>{% else %}{{ x.reason }}{% endif %}</td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

<h2 id="cve-faq">Frequently Asked Questions</h2>
<div class="panel-group" id="accordion-markup">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseOne" class="collapsed">
          Why is Red Hat's CVSS v3 score or Impact different from other vendors?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
         For open source software shipped by multiple vendors, the CVSS base scores may vary for each vendor's version depending on the version they ship, how they ship it, the platform, and even how the software is compiled.  This makes scoring of vulnerabilities difficult for third-party vulnerability databases such as NVD that only provide a single CVSS base score for each vulnerability.  Red Hat scores reflect how a vulnerability affects our products specifically.
        <br /><br />
        For more information, see <a href="https://access.redhat.com/solutions/762393">https://access.redhat.com/solutions/762393</a>.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseTwo" class="collapsed">
          My product is listed as "Under investigation" or "Affected", when will Red Hat release a fix for this vulnerability?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li> "Under investigation" doesn't necessarily mean that the product is affected by this vulnerability.  It only means that our Analysis Team is still working on determining whether the product is affected and how it is affected.</li>
          <li> "Affected" means that our Analysis Team has determined that this product is affected by this vulnerability and might release a fix to address this in the near future.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseThree" class="collapsed">
          What can I do if my product is listed as "Will not fix"?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        A "will not fix" status means that a fix for an affected product version is not planned or not possible due to complexity, which may create additional risk.<br /><br />
        Available options depend mostly on the <a href="https://access.redhat.com/security/updates/classification/">Impact</a> of the vulnerability and the current <a href="https://access.redhat.com/product-life-cycles/update_policies">Life Cycle</a> phase of your product.  Overall, you have the following options:<br />
        <ul>
          <li> Upgrade to a supported product version that includes a fix for this vulnerability (recommended).</li>
          <li> Apply a mitigation (if one exists).</li>
          <li> Open a <a href="https://access.redhat.com/support/cases/#/new">support case</a> to request a prioritization of releasing a fix for this vulnerability.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseFour" class="collapsed">
          What can I do if my product is listed as "Fix deferred"?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        A deferred status means that a fix for an affected product version is not guaranteed due to higher-priority development work.<br /><br />
        Available options depend mostly on the <a href="https://access.redhat.com/security/updates/classification/">Impact</a> of the vulnerability and the current <a href="https://access.redhat.com/product-life-cycles/update_policies">Life Cycle</a> phase of your product.  Overall, you have the following options:<br />
        <ul>
          <li> Apply a mitigation (if one exists).</li>
          <li> Open a <a href="https://access.redhat.com/support/cases/#/new">support case</a> to request a prioritization of releasing a fix for this vulnerability.</li>
          <li> Red Hat Engineering focuses on addressing high-priority issues based on their complexity or limited lifecycle support.  Therefore, lower-priority issues will not receive immediate fixes.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseFive" class="collapsed">
          What is a mitigation?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        A mitigation is an action that can be taken to reduce the impact of a security vulnerability, without deploying any fixes.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseSix" class="collapsed">
          I have a Red Hat product but it is not in the above list, is it affected?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        The listed products were found to include one or more of the components that this vulnerability affects.  These products underwent a thorough evaluation to determine their affectedness by this vulnerability.  Note that layered products (such as container-based offerings) that consume affected components from any of the products listed in this table may be affected and are not represented.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseSeven" class="collapsed">
          Why is my security scanner reporting my product is vulnerable to this vulnerability even though my product version is fixed or not affected?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        In order to maintain code stability and compatibility, Red Hat usually does not rebase packages to entirely new versions.  Instead, we <a href="https://access.redhat.com/security/updates/backporting">backport</a> fixes and new features to an older version of the package we distribute.  This can result in some security scanners that only consider the package version to report the package as vulnerable.  To avoid this, we suggest that you use an approved vulnerability scanner from our <a href="https://connect.redhat.com/en/partner-with-us/red-hat-vulnerability-scanner-certification">Red Hat Vulnerability Scanner Certification</a> program.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-markup" href="#collapseEight" class="collapsed">
          My product is listed as "Out of Support Scope". What does this mean?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        When a product is listed as "Out of Support Scope", it means a vulnerability with the impact level assigned to this CVE is no longer covered by its current <a href="https://access.redhat.com/product-life-cycles/update_policies">support lifecycle phase</a>.  The product has been identified to contain the impacted component, but analysis to determine whether it is affected or not by this vulnerability was not performed.  The product should be assumed to be affected.  Customers are advised to apply any mitigation options documented on this page, consider removing or disabling the impacted component, or upgrade to a supported version of the product that has an update available.
      </div>
    </div>
  </div>
</div>

<h3><b>Not sure what something means?</b> Check out our <a href="https://access.redhat.com/security/glossary">Security Glossary</a>.</h3>

<p>This page is generated automatically and has not been checked for errors or omissions.<br />
For clarification or corrections please contact <a href="https://access.redhat.com/security/team/contact/">Red Hat Product Security</a>.</p>

<p>Last Modified: {{ vex.updated }}<br />
  <a href="https://security.access.redhat.com/data/csaf/v2/vex/{{ year }}/{{ vex.cve.lower() }}.json">Original VEX document</a> {{ vex.distribution }}</p>
{% endblock %}